body {
    background-color: #919191;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, nva, .blogpost {
    width: 100%
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.blogpost {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



h1 {
    color: #333;
}

h2 {
    color: #ff0000;
}

p {
    color: #eeff00;
    margin-bottom: 30px;
}